#records {
    max-height: 250px;
    overflow: scroll;
}

table{
    table-layout: fixed;
	width: 100%;
}
td{
	padding: 5px;
	vertical-align: top;
	width: 50%;
}

.Thumbnailing {
  background-color: aquamarine;
}

.Lining {
  background-color: grey;
}

.Coloring {
  background-color: yellow;
}

.Writing {
  background-color: blue;
}

.Editing {
  background-color: lawngreen;
}

