<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="student.css" type="text/css">
</head>

<body>
    <div id="app">

            <!-- Error messages, desplayed from the errors array -->
		    <div class="alert alert-danger" v-show="errors.length > 0">
			    <li v-for="error in errors"> {{ error }} </li>
		    </div>

        <div class="card add-student m-2 p-2">
            <form>
                <h4 class="card-title">Add new student</h4>
                
                <!-- .trim to eliminate white space, v-model to get the data -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" v-model.trim="newStudentName">
                </div>
                <div class="form-group">
                    <label for="starID">Star ID</label>
                    <input id="starID" class="form-control" v-model.trim="newStarID">
                </div>

                <!-- .prevent to stop page from refreshing -->
                <button class="btn btn-primary" v-on:click.prevent="addStudent">Add</button>
            </form>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Students</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>

                      <!-- loops through students. binds present status to each student as a class. -->
                    <tr v-for="student in students" v-bind:class="'present-'+student.present">
				              <td>{{ student.name }} </td>
				              <td>{{ student.starID }} </td>
				              <td><input type="checkbox" v-model="student.present" v-on:change="checked(student)"></td>
			              </tr>
                </table>
            </div>
        </div>

          <!-- shows the sign in message -->
        <transition name="fade">
            <diV class="alert alert-success" v-if="seeMessage">{{message}} {{mostRecentSignIn}}</div>
        </transition>
    </div>

    <script>

        let app = new Vue({
			el: "#app",
			data: { 
				newStudentName: "",
				newStarID: "",
				students: [{name: "A. Student", starID: "aa234bb", present: false},
						   {name: "B. Student", starID: "bb234bb", present: true}],
				errors:[],
				message: "",
				mostRecentSignIn: "",
				seeMessage: false
				},
			methods:{
        addStudent() {
            //ensures all nesisary data is present, pushes student or error messages as necisa
					if (!this.newStarID){
						this.errors.push("StarID is required")
					} 
					if(!this.newStudentName){
						this.errors.push("Name is required")
					}
					if(this.newStarID && this.newStudentName){
						let student = {name: this.newStudentName, starID: this.newStarID}
						this.students.push(student)	
						this.students.sort(function (s1, s2){
							return s1.name.toLowerCase() > s2.name.toLowerCase() ? 1 : -1
						})
						this.newStudentName = ""
						this.newStarID = ""
						this.errors = []
					}
				},
        checked(student) {
            //checks if student is present, sets message as welcome if so, goodbye if not.
					this.message = student.present ? "Welcome, " : "Goodbye, "
					this.mostRecentSignIn = student.name
					this.showMessage()
				},
        showMessage() {
            //shows message for 3 seconds, hides it.
					this.seeMessage = true
					setTimeout( () => {
						this.seeMessage = false
					}, 3000)
				}
			}
		})

    </script>

</body>

</html>